header {
  background-color: var(--bg-color-card);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  z-index: 50;
  height: 80px;
  align-items: center;
}

header img {
  max-width: 140px;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
}
