#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin-top: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

footer {
  padding: 50px;
  font-weight: bold;
  font-size: 18px;
}
